* {
	margin: 0;
	padding: 0;
}


*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;

	font-size: 62.5%;
	scroll-behavior: smooth;
}

@media (max-width: 75em) {
	html {
		font-size: 60%;
	}

	#logo {
		left: 2vw;
	}
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
	html {
		font-size: 58%;
	}

	#logo {
		left: 4vw;
	}
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
	html {
		font-size: 55%;
	}
}


body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.4;
background-color: #000022;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%23026' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23002163' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23002060' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23001f5c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23001e59' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23001d56' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23001c53' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23001b4f' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23001a4c' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23001949' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23001846' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23001743' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2300163f' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%2300153c' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23001439' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001336' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}



/* MY CARD*/

#my-card {
	height: 20vh;
	width: 25vw;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	border: none;
	border-radius: 20px;
	background: transparent;
	box-shadow: 3px 3px 6px rgba(72, 72, 72, 0.5),
		-3px -3px 6px rgba(98, 98, 98, 0.5);
}

.social {
	display: inline-flex;
	color: #fff;
	width: 10vw;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	z-index: 1;
}

.sicon {
	color: white;
	width: 4vw;
	padding: 0.5vw;
	text-align: center;
	font-size: 1.5em;
}

.sicon:hover {
	color: aquamarine;
}

#name-n-link {
	margin-left: auto;
	margin-right: auto;
	width: 15vw;
	border: none;
	border-radius: 20px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	background: transparent;
	box-shadow: 3px 3px 6px rgba(72, 72, 72, 0.5),
		-3px -3px 6px rgba(98, 98, 98, 0.5);
	color: #fff;
}

#my-dp {
	border-radius: 50%;
	border: 5px solid rgba(255, 155, 155, 0.5);
	padding: 0.1vw;
	margin: 0.5vw;
	width: 150px;
}

#my-dp:hover {
	border: 5px solid aquamarine;
}

#author {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#my-name {
	margin-top: 5vh;
	margin-bottom: 2.5vh;
}

/*===================================================*/

/*Scrollbar*/

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #6c6b6b;
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}

/*====================================*/


h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 4.2rem;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

img {
	display: block;
	width: 100%;
}



.nav {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
	background-color: rgba(17, 25, 40, 0.75);
	border-radius: 12px;
}

.nav-list {
	display: flex;
	margin-right: 2rem;
}

@media (max-width: 28.75em) {
	.nav {
		justify-content: center;
	}

	.nav-list {
		margin: 0 1rem;
	}
}

.nav-list a {
	display: block;
	font-size: 2.2rem;
	padding: 2rem;
}

.nav-list a:hover {
	background: #000;
	color: #adf2ff;
	text-decoration: underline;
}



.welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	backdrop-filter: blur(4px);
	background-position: center;
	background-size: cover;
	color: #fff;
}



.projects-section {
	text-align: center;
	padding: 10rem 2rem;
	background: rgba(0, 0, 0, 0.10);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 50px;
}

.projects-section-header {
	max-width: 640px;
	margin: 0 auto 6rem auto;
	border-bottom: 0.2rem solid #777;
	color: #f0f0f0;
}

@media (max-width: 28.75em) {
	.projects-section-header {
		font-size: 4rem;
	}
}


.projects-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 4rem;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
	.projects-section {
		padding: 6rem 1rem;
	}

	.projects-grid {
		grid-template-columns: 1fr;
	}
}

.project {

	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}


.project:hover {
	color: #76dfff;
	font-weight: bold;
}

.project-image {
	height: calc(100% - 6.8rem);
	width: 100%;
	object-fit: cover;
	border-radius: 20px;
}

.project-title {
	font-size: 2rem;
	padding: 2rem 0.5rem;
}

.btn {
	display: inline-block;
	padding: 1rem 2rem;
	border-radius: 2px;
}

.btn-view-more {
	font-size: 2rem;
	background: #373;
	transition: background 0.3s ease-out;
	border-radius: 10px;
}

.btn-show-all:hover {
	background: #be3144;
}

.btn-show-all:hover > i {
	transform: translateX(2px);
}

.btn-show-all > i {
	margin-left: 10px;
	transform: translateX(0);
	transition: transform 0.3s ease-out;
}


.contact-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 80vh;
	padding: 0 2rem;
	color: #fff;
}

.contact-section-header > h2 {
	font-size: 6rem;
}

@media (max-width: 28.75em) {
	.contact-section-header > h2 {
		font-size: 4rem;
	}
}

.contact-section-header > p {
	font-style: italic;
}

.contact-links {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 980px;
	margin-top: 4rem;
	flex-wrap: wrap;
}

.contact-details {
	font-size: 2.4rem;
	text-shadow: 2px 2px 1px #1f1f1f;
	transition: transform 0.3s ease-out;
}

.contact-details:hover {
	transform: translateY(8px);
}



footer {
	font-weight: 300;
	display: flex;
	justify-content: space-evenly;
	padding: 2rem;
	background: rgba(255, 0, 0, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	color: #fff;
}


footer > p {
	margin: 2rem;
}


@media (max-width: 28.75em) {
	footer {
		flex-direction: column;
		text-align: center;
	}
}


#namediv {
	font-family: "Montserrat", "Comfortaa", sans-serif;
	line-height: 4em;
	padding: 5em;
	border-radius: 2em;
	background: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);

}

.typewrite {
	color: #99e;
}

#subtitle {
	font-family: "Montserrat", sans-serif;
	font-size: 1.5em;
	text-align: center;
}

#logo {
	height: 64px;
	width: 72px;
	padding: 10px;
	float: left;
	position: fixed;
	top: 0;
	left: 8vw;
}

#description {
	color: #fff;
	margin-bottom: 5vh;
}
