@font-face {
font-family: "Signeton";
src: url("./../icon-fonts/signeton/Signeton.woff2");
src: url("./../icon-fonts/signeton/Signeton.woff") format("woff"),
url("./../icon-fonts/signeton/Signeton.otf") format("opentype"),
}

span>data-text2{
    font-family: "Signeton" !important;
}

 
