@font-face {
font-family: "Signeton";
src: url("./../icon-fonts/signeton/Signeton.woff2");
src: url("./../icon-fonts/signeton/Signeton.woff") format("woff"),
url("./../icon-fonts/signeton/Signeton.otf") format("opentype"),
}


span>data-text2{
    font-family: "Signeton" !important;
}

 .name{
    font-family: "Signeton" !important;
    color: royalblue;
    font-weight: 600;
 }

.btnTxt{
    font-size: 16px;
    padding: 0 5px;
    font-family: 'Libre Baskerville', sans-serif;
    color: azure;
 }
 .arrow{
    font-size: 20px;
    padding-left: 16px;
    font-family: sans-serif;
 }